certifi==2020.6.20
chardet==3.0.4
idna==2.10
requests==2.24.0
robotframework==3.2.2
robotframework-pythonlibcore==2.1.0
robotframework-requests==0.7.1
robotframework-seleniumlibrary==4.5.0
allure-robotframework
selenium==3.141.0
urllib3==1.25.11
